# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next/
/out/
build/
dist/

# python
__pycache__/
*.pyc

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
backend/venv

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# osrm
osrm-ny/

#ml work
ml/Archive/
ml/Data/
ml/eved-dataset/
ml/Final_Outputs/final_ice_trips_master.csv

.env

*/venv